
@{
    ViewBag.Title = "Admin home";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage2.cshtml";
}

<h2>Welcome to admin page</h2>

<a class="btn btn-primary mt-3 mb-3" href="/admin/admin/quanly">Go to Admin Page</a>

