#slideshow {
    overflow: hidden;
    height: 400px;
    width: 1000px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 10000px;
    -webkit-animation: slide 15s ease infinite;
}

.slide {
    float: left;
    height: auto;
    width: 1500px;
}

    .slide img {
        width: 100%;
    }

@-webkit-keyframes slide {
    20% {
        margin-left: -200px;
    }

    40% {
        margin-left: -1700px;
    }

    60% {
        margin-left: -3200px;
    }

    80% {
        margin-left: -4700px;
    }

    100% {
        margin-left: -6200px;
    }
}
/*============================*/
.a-white li a {
    color: white;
}

/*.a-gray li a {
    color: gray;
}*/

.navigation-1 {
    position: relative;
}

.navigation-2 {
    display: none;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

    .navigation-2 li {
        padding: 8px 14px;
    }

        .navigation-2 li:hover a {
            color: blue;
        }

.navigation-1:hover .navigation-2 {
    display: block;
    width: 200px;
    background-color: lightcoral;
    border-radius: 5px;
    border: 1px solid black;
}

/*    .navigation-1:hover .navigation-2 li a {
        color: blue;
    }*/

.navigation-2 li:hover {
    background-color: lightblue;
    border-radius: 5px;
}
/*=============================*/
.card-img:hover .imgSP {
    transform: scale(1.1);
    transition-duration: .4s;
}

a {
    text-decoration: none;
}

.imgSP {
    height: 160px;
}
/*===================================*/
/*heading*/
.acer-heading {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.xemtatca {
    color: gray;
}

.gray {
    padding-left: 55px;
}

    .gray:hover .xemtatca {
        color: red;
    }
/*===================================*/
.wrapper-nav {
    position: sticky;
    box-shadow: 0 0 5px 2px #ccc;
    left: 50%;
    z-index: 7000;
    top: 0;
}
/*===================================*/
#menu-relative {
    position: relative;
}

.menu-thongtin {
    background-color: white;
    padding: 10px;
    position: absolute;
    display: none;
    top: 40px;
    z-index: 9999;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
}

#menu-relative:hover .menu-thongtin {
    display: block;
    z-index: 9999;
}

.menu-thongtin li a {
    color: black;
}

.menu-thongtin li {
    padding: 10px 20px;
    list-style-type: none;
}

    .menu-thongtin li:hover {
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .menu-thongtin li:last-child {
        padding: 0;
        background-color: none;
        margin-top: 10px;
    }
/*=========================================*/
.card:hover {
    border: 1px solid #364db9;
    border-radius: 10px;
}

.card img {
    border-radius: 10px;
}
/*============================*/
/*css form đăng nhập*/
